@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #262626;
  color: white;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.bangers {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

